.orange{
    color: orange;
}
.brown{
    color: brown;
}
.font{
    font-size: 14px;
}
.background{
    background-color: #eeeeee;
}
.subtitulo{
    color: #00ff00; 
    font-size: 28px;
}
.links{
    color: fuchsia;
}
