.lista{
    font-size: 16px;
}

#paragrafo-um{
    font-size: 12px;
    color: firebrick;
}

#paragrafo-dois{
    font-size: 12px;
    color: fuchsia;
}

#paragrafo-tres{
    font-size: 12px;
    color: goldenrod;
}

.imagens{
    width: 150px;
    height: 200px;
}

body{
    font-family:Helvetica;
}